body{
    background-color: #DFFFD6;
}

a.boton{
    border: 1px solid #2e518b;
    padding: 10px;
    background-color: #2e518b;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}

#superior{
    text-align: center;
    background-color: #FFD7D5;
    width: 100%;
    justify-content: center;
    display: flex;
}

#encontrado{
    margin-top: 30px;
    text-align: center;
}

#relacionados{
    text-align: center;
}
div.noticia {
    width: 75%;
    margin: 20px auto;
    padding: 15px;
}

div.noticia1 {
    width: auto;
    background-color: #E8D7FF;
    text-align: center ;
    justify-content: center;
    display: flex;
 }

div.noticia1 img.usuario{
    float: left;
    margin-right: 15px;
    height: 80px;
    width: 55px;
}

div.noticia img.izquierda {
    float: left;
    margin-right: 15px;
    height: 240px;
    width: 170px;
}

div.noticia img.derecha {
    float: right;
    margin-left: 15px;
    height: 240px;
    width: 170px;
}


div.reset {
    clear: both;
}