
body{
    background-color: #DFFFD6;
}

div.noticia1 {
    width: auto;
    background-color: #E8D7FF;
    text-align: center ;
    justify-content: center;
    display: flex;
}

div.noticia1 img.usuario{
    float: left;
    margin-right: 15px;
    height: 80px;
    width: 55px;
}

#encabezado{
    text-align: center;
    background-color: #FFD7D5;
    width: 100%;
    justify-content: center;
    display: flex;
}

#palabra1{
    text-align: center;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);


.field {
    display:flex;
    position:realtive;
    margin:5em auto;
    width:70%;
    flex-direction:row;
    box-shadow:
            1px 1px 0 rgb(22, 160, 133),
            2px 2px 0 rgb(22, 160, 133),
            3px 3px 0 rgb(22, 160, 133),
            4px 4px 0 rgb(22, 160, 133),
            5px 5px 0 rgb(22, 160, 133),
            6px 6px 0 rgb(22, 160, 133),
            7px 7px 0 rgb(22, 160, 133)
;
}

.field>input[type=text],
.field>button {
    display:block;
    font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
    flex:1;
    padding:0.6em;
    border:0.2em solid rgb(26, 188, 156);
}

.field>button {
    padding:0.6em 0.8em;
    background-color:rgb(26, 188, 156);
    color:white;
    border:none;
}